@import "tailwindcss";

@theme {
  --color-brand-blue: #1e3a8a;
  --color-brand-green: #166534;
  --color-brand-light: #f3f4f6;
  --font-sans: "Inter", sans-serif;
}

body {
  font-family: var(--font-sans);
}
